<!DOCTYPE html>
<html lang="pt-br">
<%- include("partials/header.ejs") %>

<body>
    <%- include("partials/homenavbar.ejs") %>

    <div class="container">
        <% articles.forEach(article=>{ %>

        <br>
        <div class="card">
            <div class="card-header">
                <h2> <%= article.title %> </h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug%>" class="btn btn-success"> Ler Artigo</a>
            </div>
        </div>
        <br>
        <% }); %>
    </div>
    <br>

</body>

<%- include("partials/scripts.ejs") %>

</html>